---
permalink: /humans.txt
eleventyExcludeFromCollections: true
layout: null
date: Last Modified
---

/* TEAM */

Religion Call for Papers
                            
Site: relcfp.com    
Twitter: @relcfp
email: contact@relcfp.com
                         
                 
[...]
						

							
/* THANKS */

							
Github: @leno4ka94 
Website: https://github.com/leno4ka94

Github @imAjeetYadav
Website: https://github.com/@imAjeetYadav


[...]

                            
/* SITE */
    
Last update: 2022/08/24   
Standards: HTML5, CSS3, JS
Components: Modernizr, jQuery, etc.      
Software: Ruby, Jekyll
   